*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
  box-sizing: border-box;
}

.header{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 20px 10%;
  background-color:darkblue;
  position: fixed;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 100;
  text-decoration: none;

}

.navbar a{
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-weight: 100;
  margin-left: 35px;
}

.navbar a:hover{
  color: black;
}

.gallery{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 90px;
  }

  .pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    
  }
  
  .pic-ctn > img {
    position: absolute;
    left:10%;
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(1) {
    animation-delay: 2s;
  }
  img:nth-child(2) {
    animation-delay: 4s;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    
  }

.home{
height: 100vh;
display: flex;
align-items: center;
justify-content: space-between;
margin-right: 100px;
margin-left: 90px;
}


.home-image{
margin-top: 100px;
width: 500px;
height: 500px;
background: darkblue;
align-items: center;

}

.home-image img{
  position: relative;
  margin-top: 20px;
  margin-left: 70px;
  
}

.home-image > img {
  position: absolute;
  left:10%;
  opacity: 0;
  animation: display 10s infinite;
}
img:nth-child(3) {
  animation-delay: 2s;
}
img:nth-child(4) {
  animation-delay: 4s;
}

.home-content{
font-size: 30px;
text-align: right;

}

.about-content{
   padding-top: 50px;
   padding-left: 120px;
   padding-bottom: 120px;
   padding-right: 120px;
  
}

.education-content{
   
  padding: 120px;

}

.project-content{
   
  padding: 120px;

}

.contact-content{

  padding: 50px;
  justify-content: center;
  box-sizing: border-box;
  }

.container{
margin: 50%;
padding: 20px 30px;
background: darkblue;
margin:30px 0px;
font-size: 16px;
color: white; 
}

.form input{
  display: block;
  height: 40px;
  width: 30%;
}

.form textarea{
  display: block;
}

.button{
  height: 40px;
}

.mycontact{
  font-size: 14px;
  font-style: italic;
}